/* custom-tree.css */
.node__root > circle {
  fill: #2b6cb0;
  stroke: #2c5282;
  stroke-width: 2px;
}

.node__branch > circle {
  fill: #4299e1;
  stroke: #2b6cb0;
  stroke-width: 2px;
}

.node__leaf > circle {
  fill: #63b3ed;
  stroke: #4299e1;
  stroke-width: 2px;
}

.rd3t-node .rd3t-label__title {
  fill: #ffffff;
  stroke: #4a5568;
  stroke-width: 0.5px;
  font-size: 14px;
}
.rd3t-label__title {
  fill: #ffffff !important;
  stroke: #4a5568 !important;
  stroke-width: 0.5px;
  font-size: 14px;
}

.rd3t-label__attributes {
  fill: #a0aec0 !important;
  stroke: #a0aec0 !important;
  stroke-width: 0.2px;
  font-size: 12px;
}


.rd3t-link {
  stroke: #4a5568 !important;
  stroke-width: 2px;
}